@model IEnumerable<De_Friet_Tent.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Status
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" data-status="Klaar">Klaar</a></li>
        <li><a class="dropdown-item" href="#" data-status="Wordt bereid">Wordt bereid</a></li>
        <li><a class="dropdown-item" href="#" data-status="Geannuleerd">Geannuleerd</a></li>
    </ul>
</div>

<table class="table" id="MyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalprice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalprice)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn" style="background-color: aquamarine">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 

            </td>
        </tr>
}
    </tbody>

</table>


