@model IEnumerable<De_Friet_Tent.Models.Order>

@{
    ViewData["Title"] = "IndexEmployee";
    Layout = "_LayoutForEmployees";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalprice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Totalprice)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn" style="background-color: aquamarine">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                </td>
            </tr>
        }
    </tbody>
</table>